@using ClinicManagementSystemDOL.Enums
@using ClinicManagementSystemDOL.Models;
@model IEnumerable<Appointment>

@{
    ViewBag.Title = "Appointments";
    if (Session["userId"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    else if ((int)Session["roleId"] != (int)ClinicManagementSystemDOL.Enums.Roles.Assistant)
    {
        Response.Redirect("~/Error.htm");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>Appointments </h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="appointments" class="data table table-striped no-margin">
                    <thead>
                        <tr>
                            <th>Token</th>
                            <th>Patient</th>
                            <th>Doctor</th>     
                            <th>Phone</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Details</th>
                            <th>Status</th>
                            <th>
                                <a href="@Url.Action("MakeAppointment","Assistant")" class="btn btn-primary btn-xs"><i class="fa fa-edit"></i>Book Appointment</a>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Patient.FirstName @item.Patient.LastName</td>
                                <td>@item.Doctor.FirstName @item.Doctor.LastName</td>
                                <td>@item.Patient.Phone</td>
                                <td>@item.Date.ToShortDateString()</td>
                                <td>@item.AppointmentTime.Time</td>
                                <td>@item.Details</td>
                                <td>
                                    @{
                                        if (@Enum.GetName(typeof(ClinicManagementSystemDOL.Enums.AppointmentStatus), @item.AppointmentStatus.Id) == "Open")
                                        {
                                            <a href="#" style="padding: 3px 10px 3px 10px; background-color:green " class="badge" readonly name="Open">Open</a>
                                        }
                                        else if (@Enum.GetName(typeof(ClinicManagementSystemDOL.Enums.AppointmentStatus), @item.AppointmentStatus.Id) == "Rejected")
                                        {
                                            <a href="#" style="padding: 3px 10px 3px 10px; background-color:red " class="badge" readonly name="Rejected">Rejected</a>
                                        }
                                        else if (@Enum.GetName(typeof(ClinicManagementSystemDOL.Enums.AppointmentStatus), @item.AppointmentStatus.Id) == "Pending")
                                        {
                                            <a href="#" style="padding: 3px 10px 3px 10px; background-color:darkorange " class="badge" readonly name="Pending">Pending</a>
                                        }
                                        else
                                        {
                                            <a href="#" style="padding: 3px 10px 3px 10px; background-color:slateblue " class="badge" readonly name="Closed">Closed</a>
                                        }

                                    }
                                </td>
                                <td>
                                    @if (@Enum.GetName(typeof(ClinicManagementSystemDOL.Enums.AppointmentStatus), @item.AppointmentStatus.Id) == "Pending")
                                    {
                                        <a class="btn btn-danger btn-xs js-approve" style="background-color:green">&#8730 Approve </a>
                                        <a class="btn btn-danger btn-xs js-reject" style="background-color:red">X Reject </a>
                                    }
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        var popup;

        $(document).ready(function () {
            var table = $("#appointments").DataTable();

            $("#appointments").on("click", ".js-approve", function () {
                var row = $(this).closest("TR");
                var itemId = $("TD", row).eq(0).html();
                bootbox.confirm("Are you sure to approve this appointment?", function (result) {
                    if (result)
                    {
                        location.href = '@Url.Action("ApproveAppointmentStatus", "Assistant")?id=' + itemId;
                    }
                });
            });

            $("#appointments").on("click", ".js-reject", function () {
                var row = $(this).closest("TR");
                var itemId = $("TD", row).eq(0).html();
                bootbox.confirm("Are you sure to reject this appointment?", function (result) {
                    if (result) {
                        location.href = '@Url.Action("RejectAppointmentStatus", "Assistant")?id=' + itemId;
                    }
                });
            });
        });



    </script>
}