@using ClinicManagementSystem.Models
@using ClinicManagementSystemDOL.Enums
@model AssistantProfileViewModel
@{
    ViewBag.Title = "Profile";
    if (Session["userId"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    else if ((int)Session["roleId"] != 3)
    {
        Response.Redirect("~/Error.htm");
    }
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h2>Profile </h2>
                <ul class="nav navbar-right panel_toolbox">
                    <li>
                        <a href="~/Assistant/Profile/Edit" class="btn-link"><i class="fa fa-edit m-right-xs"></i>Edit</a>
                    </li>
                </ul>
                <div class="clearfix"></div>
            </div>

            <div class="x_content">
                <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                    <div class="profile_img">
                        <div id="crop-avatar">
                            <!-- Current avatar -->
                            <img class="img-responsive avatar-view" src="~/Content/images/user.png" alt="Avatar" title="Change the avatar">
                        </div>
                    </div>
                </div>
                <div class="col-md-8 col-sm-8 col-xs-12">
                    @if (Model.Assistant.Gender == (int)Gender.Male)
                    {
                        <h3> Mr. @char.ToUpper(@Model.Assistant.FirstName[0])@Model.Assistant.FirstName.Substring(1) @char.ToUpper(@Model.Assistant.LastName[0])@Model.Assistant.LastName.Substring(1)</h3>
                    }
                    else
                    {
                        <h3> Ms. @char.ToUpper(@Model.Assistant.FirstName[0])@Model.Assistant.FirstName.Substring(1) @char.ToUpper(@Model.Assistant.LastName[0])@Model.Assistant.LastName.Substring(1)</h3>
                    }
                    <ul class="list-unstyled user_data">
                        <li>
                            <i class="fa fa-briefcase user-profile-icon"></i> &nbsp; Assistant
                        </li>
                        <li>
                            <i class="fa fa-birthday-cake user-profile-icon"></i> &nbsp; @Model.Assistant.DateOfBirth.ToShortDateString()
                        </li>
                        <li>
                            <i class="fa fa-map-marker user-profile-icon"></i> &nbsp; @Model.Assistant.Address
                        </li>
                        <li>
                            <i class="fa fa-phone"></i> &nbsp; @Model.Assistant.Phone
                        </li>
                        <li><i class="fa fa-inbox"></i> &nbsp; @Model.Assistant.Email</li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
</div>
