@using ClinicManagementSystemDOL.Models;
@model IEnumerable<Appointment>
@using ClinicManagementSystemDOL.Enums
@{
    ViewBag.Title = "Appointments";
    if (Session["userId"] == null)
    {
        Response.Redirect("~/Account/Login");
    }
    else if ((int)Session["roleId"] != (int)ClinicManagementSystemDOL.Enums.Roles.Assistant)
    {
        Response.Redirect("~/Error.htm");
    }
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
    <div class="col-md-12">
        <div class="x_panel">
            <div class="x_title">
                <h3>Appointments </h3>
                <div class="clearfix"></div>
            </div>
            <div class="x_content">
                <table id="appointments" class="data table table-striped no-margin">
                    <thead>
                        <tr>
                            <th>Token</th>
                            <th>Patient</th>
                            <th>Doctor</th>
                            <th>Date</th>
                            <th>Time</th>
                            <th>Details</th>
                            <th>Status</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Patient.FirstName @item.Patient.LastName</td>
                                <td>@item.Doctor.FirstName @item.Doctor.LastName</td>
                                <td>@item.Date.ToShortDateString()</td>
                                <td>@item.AppointmentTime.Time</td>
                                <td>@item.Details</td>
                                <td>
                                    <a href="#" style="padding: 3px 10px 3px 10px; background-color: greenyellow " class="badge" readonly name="Availale">@item.AppointmentStatus.Name</a>
                                </td>
                                <td>
                                    <a href="@Url.Action("ShowInvoice","Assistant", new { id = @item.Id})" class="btn btn-primary btn-xs"><i class="fa"></i>Invoice</a>
                                </td>
                            </tr>
                                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        $(document).ready(function () {
            var table = $("#appointments").DataTable();
        });
    </script>
}