<ul class="nav side-menu">
    <li>
        <a href="@Url.Action("Index","Home")"><i class="fa fa-home"></i> Dashboard </a>
    </li>
    <li><a href="@Url.Action("Patients", "Assistant")"><i class="fa fa-users"></i> Patient</a></li>
    <li><a href="@Url.Action("Appointments","Assistant")"><i class="fa fa-book"></i> Appointment</a></li>
    <li><a href="@Url.Action("ManageInvoice","Assistant")"><i class="fa fa-rupee"></i> Manage Invoice</a></li>
    <li>
        <a><i class="fa fa-lightbulb-o"></i> Add Amenities <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="@Url.Action("AddMedicines","Assistant")">Add Medicines</a></li>
            <li><a href="@Url.Action("AddTests","Assistant")">Add Tests </a></li>
        </ul>
    </li>
    <li><a href="@Url.Action("Profile","Assistant")"><i class="fa fa-edit"></i> Profile</a></li>
    <li>
        <a><i class="fa fa-bar-chart-o"></i> Report <span class="fa fa-chevron-down"></span></a>
        <ul class="nav child_menu">
            <li><a href="@Url.Action("ByDate","Reports")">By Date </a></li>
            <li><a href="@Url.Action("ByAppointment","Reports")">By Appointment </a></li>
            <li><a href="@Url.Action("ByPatient","Reports")">By Patient </a></li>
        </ul>
    </li>
</ul>


